form#configuration_form * {
    outline: none!important;
    text-decoration: none!important;
}
.panel-heading-action a.list-toolbar-btn,
.ets_collection-panel a.list-toolbar-btn{
    text-align: center;
    padding: 0;
    border-left: 1px solid #ddd;
    min-width: 33px;
}
#block-form-add-new-products .panel-heading i.process-icon-new {
    font-size: 18px!important;
}
.ets_collection_content_footer {
    float: left;
    width: calc(100% + 20px);
    margin-left: -10px;
    margin-right: -10px;
    padding: 15px 15px 0;
    border-top: 1px solid #eee;
    margin-top: 10px;
    margin-bottom: -5px;
}
.module_confirmation.alert,
.module_error.alert{
    position: fixed!important;
    top: 60px;
    right: 60px;
    z-index: 1000;
}
.module_confirmation.alert button.close,
.module_error.alert button.close {
    margin-left: 10px;
}
















