/*
 * Custom code goes here.
 * A template should always ship with an empty custom.css
 */


.sizes-list {
    position: absolute;
    width: 80%;
    display: none;
    justify-content: center;
    z-index: 5;
    bottom: 140px;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 0;
    transition: all 250ms;
}

.sizes-list .sizes-list__size {
    margin: 0 2px 5px;
    font-size: 12px;
    color: black !important;
    display: inline-block;
    width: auto;
    min-height: 20px;
    padding: 0 2px;
    line-height: 20px;
    text-align: center;
    background: white;
    border: 1px solid #777;
    text-decoration: none;
}

.sizes-list .sizes-list__size:hover {
    text-decoration: underline;
}

.product-miniature:hover .sizes-list {
    display: flex;
    opacity: 1;
}

.product-price {
    color: #343434 !important;
}

.product-price.discount-price {
    color: #ad1f00;
}
