/**
 * Copyright 2021-2022 InPost S.A.
 *
 * NOTICE OF LICENSE
 *
 * Licensed under the EUPL-1.2 or later.
 * You may not use this work except in compliance with the Licence.
 *
 * You may obtain a copy of the Licence at:
 * https://joinup.ec.europa.eu/software/page/eupl
 * It is also bundled with this package in the file LICENSE.txt
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the Licence is distributed on an AS IS basis,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the Licence for the specific language governing permissions
 * and limitations under the Licence.
 *
 * @author    InPost S.A.
 * @copyright 2021-2021 InPost S.A.
 * @license   https://joinup.ec.europa.eu/software/page/eupl
 */
#content.bootstrap {
  padding-top: 160px;
}

.bootstrap .page-head {
  height: 140px;
}

.page-head-tabs {
  padding-left: 210px;
  background-color: #fff;
  clear: left
}

.page-sidebar-closed .page-head-tabs {
  padding-left: 50px;
}

.page-title {
  margin-bottom: 1.375rem !important;
}

@media (max-width: 768px) {
  .page-head-tabs {
    padding-left: 50px;
  }
}

.bootstrap .page-head .page-head-tabs ul {
  border-bottom: 1px solid #dfdfdf;
  border-top: 1px solid #dfdfdf;
  font-weight: 400
}
.bootstrap .page-head .page-head-tabs li {
  display: inline-block
}

.bootstrap .page-head .page-head-tabs li a {
  box-sizing: border-box;
  color: #6c868e;
  font-size: .875rem;
  line-height: 1.5;
  padding: .9375rem 1.25rem;
  vertical-align: middle
}

.bootstrap .page-head .page-head-tabs li a.current {
  background-color: #f4f9fb;
  border-bottom: 3px solid #3ed2f0;
  color: #363a41
}
