#widget-modal {
  max-width: 80%;
}

/* fix easypack.css styles */
#widget-modal__map:not(.mobile) {
  overflow: unset !important;
}

#easypack-search {
  box-sizing: border-box;
}

@media (min-width:768px) {
  .d-md-block {
    display: block !important;
  }
}

#new-dispatch-point-data {
  border: 1px solid #c7d6db;
  border-radius: 5px;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

@media print{
  .d-md-block.d-print-none {
    display: none !important;
  }
}

.js-inpost-show-map{
  cursor: pointer;
}
