.btn-edit-with-elementor {
  background: #9b0a46;
  padding: 12px 15px !important;
  color: #fff !important; }
  .btn-edit-with-elementor:hover {
    background: #ac0a49; }

.btn-connect-with-instagram {
  background: #386793;
  padding: 12px 15px !important;
  color: #fff !important; }
  .btn-connect-with-instagram:hover {
    background: #2c7ac4; }

.elementor-instagram-connection {
  background: #eff1f2;
  padding: 15px; }
  .elementor-instagram-connection .expiration-date {
    margin: 10px 0; }
  .elementor-instagram-connection .access-token {
    word-break: break-word; }

/*# sourceMappingURL=backoffice.css.map */