@charset "UTF-8";
.elementor-video-wrapper {
  position: relative;
  height: 0; }
  .elementor-video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; }

.elementor-screen-only,
.screen-reader-text,
.screen-reader-text span,
.ui-helper-hidden-accessible {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.elementor-clearfix:after {
  content: '';
  display: block;
  clear: both;
  width: 0;
  height: 0; }

*, :before, :after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body,
html {
  height: 100%; }

html {
  background-color: #F1F1F1; }

iframe,
img {
  border: 0 none; }

li {
  list-style: none; }

a {
  text-decoration: none; }

body {
  color: #6d7882;
  font-family: Roboto, Arial, Helvetica, Verdana, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 1;
  text-decoration: none;
  text-transform: none;
  overflow: hidden; }
  body a {
    color: #71d7f7; }
    body a:hover {
      color: #9b0a46; }
  body.elementor-editor-active #elementor-preview {
    left: 280px;
    right: 0; }
  body.elementor-editor-active #elementor-panel {
    left: 0; }
  body.elementor-editor-active #elementor-mode-switcher-preview .fa:before {
    content: ""; }
  body.elementor-editor-preview #elementor-preview {
    left: 0; }
  body.elementor-editor-preview #elementor-panel {
    left: -280px; }
    body.elementor-editor-preview #elementor-panel > .ui-resizable-e, body.elementor-editor-preview #elementor-panel > .ui-resizable-w {
      display: none; }
  body.elementor-editor-preview #elementor-mode-switcher-preview .fa:before {
    content: ""; }

#elementor-preview:not(.ui-resizable-resizing), #elementor-panel:not(.ui-resizable-resizing) {
  -webkit-transition: left 0.5s, width 0.5s;
  transition: left 0.5s, width 0.5s; }

#elementor-loading {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #6d7882;
  z-index: 9999; }

.elementor-loader-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 100px; }
  .elementor-loader-wrapper .elementor-loader {
    height: 100px;
    position: relative; }
  .elementor-loader-wrapper .elementor-loader-box {
    background-color: #e6e9ec; }
  .elementor-loader-wrapper .elementor-loader-box {
    position: absolute;
    -webkit-animation: load 1.8s linear infinite;
            animation: load 1.8s linear infinite; }
    .elementor-loader-wrapper .elementor-loader-box:nth-of-type(1) {
      width: 20%;
      height: 100%;
      left: 0;
      top: 0; }
    .elementor-loader-wrapper .elementor-loader-box:not(:nth-of-type(1)) {
      right: 0;
      height: 20%;
      width: 60%; }
    .elementor-loader-wrapper .elementor-loader-box:nth-of-type(2) {
      top: 0;
      -webkit-animation-delay: -0.45s;
              animation-delay: -0.45s; }
    .elementor-loader-wrapper .elementor-loader-box:nth-of-type(3) {
      top: 40%;
      -webkit-animation-delay: -0.9s;
              animation-delay: -0.9s; }
    .elementor-loader-wrapper .elementor-loader-box:nth-of-type(4) {
      bottom: 0;
      -webkit-animation-delay: -1.35s;
              animation-delay: -1.35s; }
@-webkit-keyframes load {
  0% {
    opacity: .3; }
  50% {
    opacity: 1; }
  100% {
    opacity: .3; } }
@keyframes load {
  0% {
    opacity: .3; }
  50% {
    opacity: 1; }
  100% {
    opacity: .3; } }
.elementor-loading-title {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  margin-top: 30px;
  letter-spacing: 7px;
  font-size: 10px;
  -webkit-animation: load-title 1.5s linear infinite;
          animation: load-title 1.5s linear infinite; }
@-webkit-keyframes load-title {
  0% {
    opacity: 1; }
  50% {
    opacity: .6; }
  100% {
    opacity: 1; } }
@keyframes load-title {
  0% {
    opacity: 1; }
  50% {
    opacity: .6; }
  100% {
    opacity: 1; } }
.select2-dropdown {
  border-color: #a4afb7; }
  .select2-dropdown .select2-search__field {
    outline: none; }

#elementor-fatal-error-dialog button.dialog-ok {
  color: #71d7f7; }
#elementor-fatal-error-dialog .dialog-widget-header {
  font-size: 13px;
  color: #6d7882; }

.elementor-button {
  border: none;
  cursor: pointer;
  border-radius: 3px;
  -webkit-transition: box-shadow .5s, opacity .5s;
  transition: box-shadow .5s, opacity .5s;
  outline: none; }
  .elementor-button:not(.elementor-button-state) .elementor-state-icon {
    display: none; }
  .elementor-button .elementor-state-icon {
    padding-right: 10px; }

.elementor-button-success, #elementor-panel #elementor-panel-footer-save.elementor-save-active .elementor-button {
  color: #fff; }
  .elementor-button-success[disabled], #elementor-panel #elementor-panel-footer-save.elementor-save-active [disabled].elementor-button {
    background-color: #c2cbd2; }
  .elementor-button-success:not([disabled]), #elementor-panel #elementor-panel-footer-save.elementor-save-active .elementor-button:not([disabled]) {
    background-color: #38B54A; }
    .elementor-button-success:not([disabled]):hover, #elementor-panel #elementor-panel-footer-save.elementor-save-active .elementor-button:not([disabled]):hover {
      opacity: 0.85;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2); }
    .elementor-button-success:not([disabled]):active, #elementor-panel #elementor-panel-footer-save.elementor-save-active .elementor-button:not([disabled]):active {
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19), 0 3px 3px rgba(0, 0, 0, 0.1); }

input, select, textarea {
  border-radius: 3px;
  font-size: 12px;
  width: 100%;
  background: none;
  box-shadow: none;
  color: #495157;
  border: 1px solid;
  outline: none; }
  input:not(:focus), select:not(:focus), textarea:not(:focus) {
    border-color: #d5dadf; }
  input:focus, select:focus, textarea:focus {
    border-color: #a4afb7; }

.elementor-error input, .elementor-error select, .elementor-error textarea {
  border-color: #b01b1b; }

input, textarea {
  padding: 5px 8px; }

textarea {
  resize: vertical; }

input[type="checkbox"],
input[type="radio"] {
  border: 1px solid #d5dadf;
  background: #fff;
  color: #555;
  clear: none;
  cursor: pointer;
  display: inline-block;
  line-height: 0;
  height: 16px;
  margin: -4px 4px 0 0;
  outline: 0;
  text-align: center;
  vertical-align: middle;
  width: 16px;
  min-width: 16px;
  -webkit-transition: .05s border-color ease-in-out;
  transition: .05s border-color ease-in-out; }
  input[type="checkbox"]:focus,
  input[type="radio"]:focus {
    border-color: #a4afb7; }

input[disabled] {
  background-color: #e6e9ec;
  cursor: not-allowed;
  opacity: 1; }

select {
  height: 27px; }

.ps-container {
  -ms-touch-action: none;
  overflow: hidden !important; }

.ps-container.ps-active-x > .ps-scrollbar-x-rail,
.ps-container.ps-active-y > .ps-scrollbar-y-rail {
  display: block; }

.ps-container.ps-in-scrolling {
  pointer-events: none; }

.ps-container.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail {
  background-color: #eee;
  opacity: 0.9; }

.ps-container.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail > .ps-scrollbar-x {
  background-color: #999; }

.ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail {
  background-color: #eee;
  opacity: 0.9; }

.ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  background-color: #999; }

.ps-container > .ps-scrollbar-x-rail {
  display: none;
  position: absolute;
  /* please don't change 'position' */
  border-radius: 4px;
  opacity: 0;
  -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
  transition: background-color 0.2s linear, opacity 0.2s linear;
  bottom: 3px;
  /* there must be 'bottom' for ps-scrollbar-x-rail */
  height: 8px; }

.ps-container > .ps-scrollbar-x-rail > .ps-scrollbar-x {
  position: absolute;
  /* please don't change 'position' */
  background-color: #aaa;
  border-radius: 4px;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  bottom: 0;
  /* there must be 'bottom' for ps-scrollbar-x */
  height: 8px; }

.ps-container > .ps-scrollbar-y-rail {
  display: none;
  position: absolute;
  /* please don't change 'position' */
  border-radius: 4px;
  opacity: 0;
  -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
  transition: background-color 0.2s linear, opacity 0.2s linear;
  right: 3px;
  /* there must be 'right' for ps-scrollbar-y-rail */
  width: 8px; }

.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  position: absolute;
  /* please don't change 'position' */
  background-color: #aaa;
  border-radius: 4px;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  right: 0;
  /* there must be 'right' for ps-scrollbar-y */
  width: 8px; }

.ps-container:hover.ps-in-scrolling {
  pointer-events: none; }

.ps-container:hover.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail {
  background-color: #eee;
  opacity: 0.9; }

.ps-container:hover.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail > .ps-scrollbar-x {
  background-color: #999; }

.ps-container:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail {
  background-color: #eee;
  opacity: 0.9; }

.ps-container:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  background-color: #999; }

.ps-container:hover > .ps-scrollbar-x-rail,
.ps-container:hover > .ps-scrollbar-y-rail {
  opacity: 0.6; }

.ps-container:hover > .ps-scrollbar-x-rail:hover {
  background-color: #eee;
  opacity: 0.9; }

.ps-container:hover > .ps-scrollbar-x-rail:hover > .ps-scrollbar-x {
  background-color: #999; }

.ps-container:hover > .ps-scrollbar-y-rail:hover {
  background-color: #eee;
  opacity: 0.9; }

.ps-container:hover > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y {
  background-color: #999; }

/* Make clicks pass-through */
#nprogress {
  pointer-events: none; }

#nprogress .bar {
  background: #39b54a;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px; }

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #39b54a, 0 0 5px #39b54a;
  opacity: 1.0;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
          transform: rotate(3deg) translate(0px, -4px); }

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: none;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px; }

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: #39b54a;
  border-left-color: #39b54a;
  border-radius: 50%;
  -webkit-animation: nprogress-spinner 400ms linear infinite;
          animation: nprogress-spinner 400ms linear infinite; }

.nprogress-custom-parent {
  overflow: hidden;
  position: relative; }

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute; }

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
#nprogress .bar,
#nprogress .spinner {
  z-index: 100000; }

#elementor-panel {
  font-family: Roboto, Arial, Helvetica, Verdana, sans-serif;
  font-size: 13px;
  background-color: #e6e9ec;
  position: fixed;
  width: 280px;
  height: 100%;
  top: 0;
  bottom: 0;
  overflow: visible; }
  #elementor-panel ::selection {
    background: #5bc0de;
    color: #ffffff; }
  #elementor-panel a {
    color: #9b0a46;
    -webkit-transition: none;
    transition: none; }
    #elementor-panel a:visited {
      color: inherit; }
  #elementor-panel h1,
  #elementor-panel h2,
  #elementor-panel h3,
  #elementor-panel h4,
  #elementor-panel h5,
  #elementor-panel h6 {
    font-size: 100%;
    font-weight: normal; }
  #elementor-panel abbr,
  #elementor-panel acronym {
    border: 0;
    font-variant: normal; }
  #elementor-panel sup {
    vertical-align: text-top; }
  #elementor-panel sub {
    vertical-align: text-bottom; }
  #elementor-panel img {
    max-width: 100%;
    height: auto;
    border: 0; }
  #elementor-panel ::-moz-focus-inner {
    padding: 0;
    border: 0; }
  #elementor-panel :focus {
    outline: 0; }
  #elementor-panel > .ui-resizable-e, #elementor-panel > .ui-resizable-w {
    position: absolute;
    top: 0;
    height: 100%;
    width: 7px;
    right: -5px;
    cursor: ew-resize; }
  #elementor-panel #elementor-panel-inner {
    position: relative;
    height: 100%;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2); }
  #elementor-panel .elementor-panel-container {
    clear: both;
    padding-left: 15px;
    padding-right: 15px; }
  #elementor-panel .elementor-panel-heading {
    display: table;
    table-layout: fixed;
    height: 40px;
    padding: 0 20px;
    width: 100%;
    border-bottom: 1px solid #e6e9ec;
    cursor: pointer; }
    #elementor-panel .elementor-panel-heading:not(.elementor-open) .elementor-panel-heading-toggle .fa:before {
      content: ""; }
    #elementor-panel .elementor-panel-heading.elementor-open .elementor-panel-heading-toggle .fa:before {
      content: '\f0d7'; }
    #elementor-panel .elementor-panel-heading > * {
      display: table-cell;
      vertical-align: middle; }
  #elementor-panel .elementor-panel-heading-toggle {
    width: 20px;
    color: #495157; }
  #elementor-panel .elementor-panel-heading-title {
    color: #495157;
    font-weight: bold; }
  #elementor-panel .elementor-panel-box {
    margin-top: 10px;
    background-color: #fff; }
  #elementor-panel .elementor-panel-box-content {
    padding: 20px 20px 10px; }
  #elementor-panel .elementor-control-title {
    font-size: 12px; }
  #elementor-panel .select2-container {
    width: 100% !important; }
    #elementor-panel .select2-container:not(.select2-container--open):not(.select2-container--focus) .select2-selection--single {
      border-color: #d5dadf; }
    #elementor-panel .select2-container.select2-container--open .select2-selection--single, #elementor-panel .select2-container.select2-container--focus .select2-selection--single {
      border-color: #a4afb7; }
  #elementor-panel .select2-selection--single {
    height: 27px; }
  #elementor-panel .select2-selection__rendered {
    line-height: 27px; }
  #elementor-panel .select2-selection__arrow {
    height: 27px;
    top: 0; }
  #elementor-panel #elementor-panel #elementor-panel-page-editor .elementor-controls .pojo-widget-button-collapse {
    display: none; }
  #elementor-panel .panel-alert {
    padding: 15px;
    border-left: 5px solid transparent;
    position: relative;
    font-size: 12px;
    line-height: 1.5;
    text-align: left; }
    #elementor-panel .panel-alert.panel-alert-info {
      color: #31708f;
      background-color: #d9edf7;
      border-color: #bcdff1; }
    #elementor-panel .panel-alert.panel-alert-success {
      color: #3c763d;
      background-color: #dff0d8;
      border-color: #cae6be; }
    #elementor-panel .panel-alert.panel-alert-warning {
      color: #8a6d3b;
      background-color: #fcf8e3;
      border-color: #f9f0c3; }
    #elementor-panel .panel-alert.panel-alert-danger {
      color: #a94442;
      background-color: #f2dede;
      border-color: #e8c4c4; }
  #elementor-panel #elementor-panel-header {
    display: table;
    height: 40px;
    width: 100%;
    background-color: #9b0a46;
    color: #fff; }
    #elementor-panel #elementor-panel-header > * {
      display: table-cell;
      vertical-align: middle;
      text-align: center; }
  #elementor-panel .elementor-header-button {
    width: 40px; }
    #elementor-panel .elementor-header-button .elementor-icon {
      cursor: pointer;
      display: block;
      font-size: 19px;
      height: 40px;
      line-height: 40px;
      -webkit-transition: all 0.5s;
      transition: all 0.5s; }
      #elementor-panel .elementor-header-button .elementor-icon:hover {
        color: #d5dadf; }
  #elementor-panel #elementor-panel-header-title {
    font-size: 15px; }
    #elementor-panel #elementor-panel-header-title img {
      width: 66px; }
  #elementor-panel #elementor-panel-elements-search-area {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); }
  #elementor-panel #elementor-panel-elements {
    overflow: hidden;
    padding: 5px; }
  #elementor-panel .elementor-element-wrapper {
    float: left;
    width: 50%;
    padding: 5px;
    text-align: center;
    box-sizing: border-box; }
  #elementor-panel .elementor-element {
    border-radius: 3px;
    background-color: #fff;
    cursor: move; }
    #elementor-panel .elementor-element:hover {
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); }
      #elementor-panel .elementor-element:hover .icon, #elementor-panel .elementor-element:hover .title {
        color: #9b0a46; }
    #elementor-panel .elementor-element .icon {
      font-size: 28px;
      padding-top: 15px;
      color: #556068; }
    #elementor-panel .elementor-element .elementor-element-title-wrapper {
      display: table;
      width: 100%; }
    #elementor-panel .elementor-element .title {
      font-size: 11px;
      color: #556068;
      display: table-cell;
      vertical-align: middle;
      height: 40px; }
  #elementor-panel #elementor-panel-elements-languageselector-wrapper {
    position: relative;
    width: 100%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#fff));
    background-image: linear-gradient(180deg, #f3f3f3, #fff);
    font-size: 11px;
    padding: 5px 15px 5px 15px;
    border: none;
    border-radius: 0;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 2px;
    line-height: 23px; }
    #elementor-panel #elementor-panel-elements-languageselector-wrapper select {
      max-width: 75px; }
  #elementor-panel #elementor-panel-elements-language-import {
    display: inline-block; }
    #elementor-panel #elementor-panel-elements-language-import > span {
      font-size: 12px;
      cursor: pointer;
      padding: 7px; }
    #elementor-panel #elementor-panel-elements-language-import .elementor-panel-elements-language-close {
      display: none; }
  #elementor-panel #elementor-panel-elements-language-import-list {
    display: none;
    position: absolute;
    width: 100%;
    background: #556068;
    left: 0;
    z-index: 2;
    padding: 5px 15px;
    color: #d5dadf; }
    #elementor-panel #elementor-panel-elements-language-import-list ul {
      margin: 5px 0; }
    #elementor-panel #elementor-panel-elements-language-import-list li {
      background-color: #495157;
      width: 100%;
      padding: 2px 10px;
      cursor: pointer;
      margin-bottom: 1px; }
    #elementor-panel #elementor-panel-elements-language-import-list a {
      display: block;
      color: #d5dadf; }
  #elementor-panel #elementor-panel-elements-language-import.elementor-open .elementor-panel-elements-language-clone {
    display: none; }
  #elementor-panel #elementor-panel-elements-language-import.elementor-open .elementor-panel-elements-language-close {
    display: inline; }
  #elementor-panel #elementor-panel-elements-language-import.elementor-open > #elementor-panel-elements-language-import-list {
    display: block; }
  #elementor-panel #elementor-panel-elements-search-wrapper {
    position: relative; }
    #elementor-panel #elementor-panel-elements-search-wrapper .fa {
      position: absolute;
      right: 15px;
      top: 50%;
      color: #a4afb7;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }
  #elementor-panel #elementor-panel-elements-search-input {
    width: 100%;
    background-color: #fff;
    font-size: 11px;
    padding: 8px 42px 8px 15px;
    font-style: italic;
    color: #a4afb7;
    border: none;
    border-radius: 0; }
  #elementor-panel .elementor-panel-category:first-child .panel-elements-category-title {
    padding-top: 14px; }
  #elementor-panel .panel-elements-category-title {
    padding: 7px 15px;
    text-transform: uppercase;
    font-size: 11px; }
  #elementor-panel .panel-elements-category-items {
    overflow: hidden;
    padding: 5px; }
  #elementor-panel .elementor-panel-scheme .elementor-panel-scheme-title {
    padding: 10px 20px;
    margin-top: 10px; }
  #elementor-panel .elementor-panel-scheme .elementor-panel-scheme-buttons {
    padding-left: 20px;
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 40px;
    background-color: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); }
  #elementor-panel .elementor-panel-scheme .elementor-panel-scheme-button-wrapper {
    display: table-cell;
    vertical-align: middle; }
  #elementor-panel .elementor-panel-scheme .elementor-panel-scheme-save {
    text-align: center; }
    #elementor-panel .elementor-panel-scheme .elementor-panel-scheme-save .elementor-button {
      padding: 6px 18px;
      text-transform: uppercase; }
  #elementor-panel .elementor-panel-scheme .elementor-panel-scheme-reset .elementor-button, #elementor-panel .elementor-panel-scheme .elementor-panel-scheme-discard .elementor-button {
    color: #a4afb7;
    background: none; }
  #elementor-panel .elementor-panel-scheme .elementor-panel-scheme-reset .fa, #elementor-panel .elementor-panel-scheme .elementor-panel-scheme-discard .fa {
    margin-right: 3px; }
  #elementor-panel #elementor-panel-scheme-color .elementor-panel-scheme-items {
    position: relative; }
  #elementor-panel #elementor-panel-scheme-color .elementor-panel-scheme-item {
    display: inline-block;
    margin-bottom: 10px; }
    #elementor-panel #elementor-panel-scheme-color .elementor-panel-scheme-item:not(:nth-child(4n)) {
      margin-right: 13px; }
  #elementor-panel #elementor-panel-scheme-color .wp-picker-container.wp-picker-active {
    -webkit-transform: translateY(-37px);
            transform: translateY(-37px); }
    #elementor-panel #elementor-panel-scheme-color .wp-picker-container.wp-picker-active .wp-color-result {
      margin-right: 7px; }
  #elementor-panel .elementor-panel-scheme-color-title {
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
    color: #c2cbd2;
    font-size: 8px; }
  #elementor-panel .elementor-panel-scheme-typography-item {
    display: table;
    table-layout: fixed;
    width: 100%;
    margin-bottom: 15px; }
    #elementor-panel .elementor-panel-scheme-typography-item > * {
      display: table-cell;
      vertical-align: middle; }
  #elementor-panel .elementor-panel-scheme-typography-item-value select, #elementor-panel .elementor-panel-scheme-typography-item-value input {
    width: 100%; }
  #elementor-panel .elementor-panel-scheme-item .elementor-panel-heading:not(.elementor-open) + .elementor-panel-scheme-typography-items {
    display: none; }
  #elementor-panel .elementor-panel-scheme-color-system-scheme {
    margin-bottom: 10px; }
    #elementor-panel .elementor-panel-scheme-color-system-scheme .elementor-title {
      font-size: 11px;
      color: #a4afb7;
      font-style: italic;
      margin-top: 5px; }
  #elementor-panel .elementor-panel-scheme-color-system-items {
    -webkit-transition: border .5s;
    transition: border .5s;
    overflow: hidden;
    padding: 3px;
    border-radius: 3px;
    border: 1px solid #d5dadf;
    cursor: pointer; }
    #elementor-panel .elementor-panel-scheme-color-system-items:hover {
      border: 1px solid #a4afb7; }
  #elementor-panel .elementor-panel-scheme-color-system-item {
    float: left;
    height: 20px;
    width: 25%; }
  #elementor-panel #elementor-panel-schemes-disabled {
    padding: 20px; }
    #elementor-panel #elementor-panel-schemes-disabled a {
      color: #9b0a46;
      cursor: pointer; }
      #elementor-panel #elementor-panel-schemes-disabled a:hover {
        text-decoration: underline; }
  #elementor-panel #elementor-panel-content-wrapper {
    position: absolute;
    bottom: 40px;
    top: 40px;
    left: 0;
    width: 100%; }
  #elementor-panel #elementor-panel-page-menu {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); }
  #elementor-panel .elementor-panel-menu-item {
    display: table;
    width: 100%;
    height: 50px;
    cursor: pointer;
    margin-bottom: 1px; }
    #elementor-panel .elementor-panel-menu-item:not(:hover) {
      background-color: #fff; }
    #elementor-panel .elementor-panel-menu-item > * {
      display: table-cell;
      vertical-align: middle; }
  #elementor-panel .elementor-panel-menu-item-icon {
    text-align: center;
    width: 55px; }
  #elementor-panel .elementor-panel-menu-item-title {
    font-weight: 500; }
    #elementor-panel .elementor-panel-menu-item-title > span {
      color: #39b54a; }
  #elementor-panel #elementor-panel-page-editor .elementor-tabs-controls {
    background-color: #ffffff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); }
    #elementor-panel #elementor-panel-page-editor .elementor-tabs-controls ul {
      display: table;
      table-layout: fixed;
      width: 100%; }
      #elementor-panel #elementor-panel-page-editor .elementor-tabs-controls ul li {
        display: table-cell; }
        #elementor-panel #elementor-panel-page-editor .elementor-tabs-controls ul li.elementor-tab-control-content a:before {
          content: '\f040'; }
        #elementor-panel #elementor-panel-page-editor .elementor-tabs-controls ul li.elementor-tab-control-style a:before {
          content: '\f042'; }
        #elementor-panel #elementor-panel-page-editor .elementor-tabs-controls ul li.elementor-tab-control-advanced a:before {
          content: '\f013'; }
        #elementor-panel #elementor-panel-page-editor .elementor-tabs-controls ul li.elementor-tab-control-responsive a:before {
          content: '\f10a'; }
        #elementor-panel #elementor-panel-page-editor .elementor-tabs-controls ul li.elementor-tab-control-layout a:before {
          content: '\f0db'; }
        #elementor-panel #elementor-panel-page-editor .elementor-tabs-controls ul li.elementor-tab-control-column a:before {
          content: '\f0db'; }
        #elementor-panel #elementor-panel-page-editor .elementor-tabs-controls ul li.active {
          background-image: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#fff));
          background-image: linear-gradient(to bottom, #f3f3f3, #fff);
          border-bottom: 3px solid #9b0a46; }
        #elementor-panel #elementor-panel-page-editor .elementor-tabs-controls ul li a {
          display: block;
          text-align: center;
          padding: 12px 0 8px;
          font-size: 10px;
          color: #6d7882; }
          #elementor-panel #elementor-panel-page-editor .elementor-tabs-controls ul li a:before {
            font-family: FontAwesome;
            font-size: 16px;
            display: block;
            margin-bottom: 6px; }
  #elementor-panel #elementor-panel-page-editor .elementor-controls > .elementor-control:not(.elementor-active-tab) {
    display: none; }
  #elementor-panel #elementor-panel-page-editor .elementor-control {
    background-color: #fff;
    position: relative;
    padding: 0 20px 15px; }
    #elementor-panel #elementor-panel-page-editor .elementor-control.elementor-control-separator-default:before {
      content: '';
      height: 1px;
      display: block;
      margin-bottom: 15px;
      background-color: #e6e9ec; }
    #elementor-panel #elementor-panel-page-editor .elementor-control.elementor-control-separator-default.elementor-control-wp {
      margin-top: 15px; }
      #elementor-panel #elementor-panel-page-editor .elementor-control.elementor-control-separator-default.elementor-control-wp:before {
        background-color: transparent; }
    #elementor-panel #elementor-panel-page-editor .elementor-control.elementor-control-separator-before {
      padding-top: 15px; }
      #elementor-panel #elementor-panel-page-editor .elementor-control.elementor-control-separator-before:before {
        content: '';
        position: absolute;
        height: 3px;
        width: 100%;
        top: 0;
        left: 0;
        background-color: #d5dadf; }
    #elementor-panel #elementor-panel-page-editor .elementor-control.elementor-control-deprecated {
      color: #b01b1b; }
      #elementor-panel #elementor-panel-page-editor .elementor-control.elementor-control-deprecated .elementor-control-description {
        color: #b01b1b; }
    #elementor-panel #elementor-panel-page-editor .elementor-control.elementor-control-hidden-label .elementor-control-title {
      display: none; }
    #elementor-panel #elementor-panel-page-editor .elementor-control.elementor-hidden-control {
      display: none; }
    #elementor-panel #elementor-panel-page-editor .elementor-control.elementor-control-under-section:not(.elementor-open) {
      display: none; }
    #elementor-panel #elementor-panel-page-editor .elementor-control.elementor-control-type-heading .elementor-control-title {
      font-weight: bold;
      margin: 0; }
    body:not(.elementor-device-desktop) #elementor-panel #elementor-panel-page-editor .elementor-control.elementor-control-responsive-desktop {
      display: none; }
    body:not(.elementor-device-tablet) #elementor-panel #elementor-panel-page-editor .elementor-control.elementor-control-responsive-tablet {
      display: none; }
    body:not(.elementor-device-mobile) #elementor-panel #elementor-panel-page-editor .elementor-control.elementor-control-responsive-mobile {
      display: none; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-wp {
    line-height: 1.5; }
    #elementor-panel #elementor-panel-page-editor .elementor-control-wp p {
      margin: 15px 0; }
  #elementor-panel #elementor-panel-page-editor .elementor-label-block .elementor-control-field {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  #elementor-panel #elementor-panel-page-editor .elementor-label-block .elementor-control-input-wrapper {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    margin-top: 10px; }
  #elementor-panel #elementor-panel-page-editor .elementor-label-inline .elementor-control-field {
    display: table;
    width: 100%; }
    #elementor-panel #elementor-panel-page-editor .elementor-label-inline .elementor-control-field > * {
      display: table-cell;
      vertical-align: middle; }
  #elementor-panel #elementor-panel-page-editor .elementor-label-inline .elementor-control-title {
    width: 45%; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-description {
    margin-top: 10px; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-description,
  #elementor-panel #elementor-panel-page-editor .elementor-control-descriptor {
    font-size: 11px;
    font-style: italic;
    line-height: 1.2;
    color: #a4afb7; }
  #elementor-panel #elementor-panel-page-editor .elementor-choices {
    display: table;
    width: 100%;
    height: 27px;
    background-color: #a4afb7;
    text-align: center;
    border-spacing: 1px;
    border-radius: 3px; }
    #elementor-panel #elementor-panel-page-editor .elementor-choices input {
      display: none; }
      #elementor-panel #elementor-panel-page-editor .elementor-choices input:checked + .elementor-choices-label {
        color: #fff; }
      #elementor-panel #elementor-panel-page-editor .elementor-choices input:not(:checked) + .elementor-choices-label {
        background-color: #fff;
        color: #a4afb7; }
    #elementor-panel #elementor-panel-page-editor .elementor-choices .elementor-choices-label {
      display: table-cell;
      vertical-align: middle;
      font-size: 12px;
      -webkit-transition: all .5s;
      transition: all .5s;
      cursor: pointer; }
  #elementor-panel #elementor-panel-page-editor .elementor-slider {
    display: inline-block;
    margin-top: 10px;
    height: 4px;
    background-color: #a4afb7;
    border-radius: 5px;
    position: relative;
    width: 67%; }
    #elementor-panel #elementor-panel-page-editor .elementor-slider .ui-slider-handle {
      height: 16px;
      width: 16px;
      background-color: #fff;
      display: inline-block;
      top: 50%;
      -webkit-transform: translateY(-50%) translateX(-8px);
              transform: translateY(-50%) translateX(-8px);
      position: absolute;
      box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
      border-radius: 50%;
      cursor: pointer; }
  #elementor-panel #elementor-panel-page-editor .elementor-slider-input {
    width: 33%;
    float: right; }
    #elementor-panel #elementor-panel-page-editor .elementor-slider-input input {
      width: 80%;
      float: right; }
  #elementor-panel #elementor-panel-page-editor .elementor-units-choices {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: right; }
    #elementor-panel #elementor-panel-page-editor .elementor-units-choices input {
      display: none; }
      #elementor-panel #elementor-panel-page-editor .elementor-units-choices input:not(:checked) + label {
        color: #c2cbd2; }
      #elementor-panel #elementor-panel-page-editor .elementor-units-choices input:checked + label {
        text-decoration: underline; }
    #elementor-panel #elementor-panel-page-editor .elementor-units-choices label {
      cursor: pointer;
      padding: 0 2px;
      text-transform: uppercase;
      font-size: 9px; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-responsive-switchers {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: 5px; }
  #elementor-panel #elementor-panel-page-editor .elementor-responsive-switcher {
    display: inline-block;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    background-color: #a4afb7;
    cursor: pointer;
    position: relative;
    margin-left: 5px;
    color: #fff;
    font-size: 8px;
    text-align: center;
    -webkit-transition: background-color .5s;
    transition: background-color .5s; }
    #elementor-panel #elementor-panel-page-editor .elementor-responsive-switcher:hover {
      background-color: #c2cbd2; }
    #elementor-panel #elementor-panel-page-editor .elementor-responsive-switcher i {
      line-height: 18px; }
  .elementor-device-desktop #elementor-panel #elementor-panel-page-editor:not(.elementor-responsive-switchers-open) .elementor-responsive-switcher {
    background: #c2cbd2; }
    .elementor-device-desktop #elementor-panel #elementor-panel-page-editor:not(.elementor-responsive-switchers-open) .elementor-responsive-switcher:not(.elementor-responsive-switcher-desktop) {
      display: none; }
  .elementor-device-mobile #elementor-panel #elementor-panel-page-editor .elementor-responsive-switcher-mobile {
    background-color: #71d7f7; }
  .elementor-device-tablet #elementor-panel #elementor-panel-page-editor .elementor-responsive-switcher-tablet {
    background-color: #71d7f7; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-media .elementor-control-media {
    padding: 7px;
    border: 1px solid;
    height: 150px; }
    #elementor-panel #elementor-panel-page-editor .elementor-control-type-media .elementor-control-media:not(:hover) {
      border-color: #d5dadf; }
      #elementor-panel #elementor-panel-page-editor .elementor-control-type-media .elementor-control-media:not(:hover) .elementor-control-media-upload-button {
        background-color: #d5dadf; }
    #elementor-panel #elementor-panel-page-editor .elementor-control-type-media .elementor-control-media:hover {
      border-color: #a4afb7; }
      #elementor-panel #elementor-panel-page-editor .elementor-control-type-media .elementor-control-media:hover .elementor-control-media-upload-button {
        background-color: #a4afb7; }
    #elementor-panel #elementor-panel-page-editor .elementor-control-type-media .elementor-control-media.media-empty .elementor-control-media-image-area {
      display: none; }
    #elementor-panel #elementor-panel-page-editor .elementor-control-type-media .elementor-control-media:not(.media-empty) .elementor-control-media-upload-button {
      display: none; }
    #elementor-panel #elementor-panel-page-editor .elementor-control-type-media .elementor-control-media > * {
      height: 100%;
      cursor: pointer;
      position: relative; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-media .fa-plus-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    color: #fff;
    font-size: 20px; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-media .elementor-control-media-image-area:not(:hover) .elementor-control-media-delete {
    display: none; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-media .elementor-control-media-image-area:hover .elementor-control-media-image {
    opacity: .5; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-media .elementor-control-media-delete {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 9.5px;
    font-size: 11px;
    color: #fff;
    background-color: #a4afb7;
    text-transform: uppercase; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-media .elementor-control-media-image {
    height: 100%;
    background-size: cover; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-dimensions .elementor-control-dimensions {
    overflow: hidden; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-dimensions li {
    float: left;
    width: 20%; }
    #elementor-panel #elementor-panel-page-editor .elementor-control-type-dimensions li input,
    #elementor-panel #elementor-panel-page-editor .elementor-control-type-dimensions li .elementor-link-dimensions {
      display: block;
      text-align: center;
      width: 100%;
      border-color: #a4afb7;
      height: 27px; }
    #elementor-panel #elementor-panel-page-editor .elementor-control-type-dimensions li input {
      border-left: none;
      border-radius: 0;
      padding: 4px 0; }
      #elementor-panel #elementor-panel-page-editor .elementor-control-type-dimensions li input + span {
        display: block;
        text-align: center;
        color: #d5dadf;
        font-size: 9px;
        text-transform: uppercase;
        padding-top: 5px; }
      #elementor-panel #elementor-panel-page-editor .elementor-control-type-dimensions li input:focus + span {
        color: #a4afb7; }
    #elementor-panel #elementor-panel-page-editor .elementor-control-type-dimensions li .elementor-link-dimensions {
      border: 1px solid #a4afb7;
      border-left: none;
      background-color: #fff;
      padding: 0;
      outline: none;
      border-radius: 0 3px 3px 0;
      cursor: pointer; }
    #elementor-panel #elementor-panel-page-editor .elementor-control-type-dimensions li:first-child input {
      border-left: 1px solid #a4afb7;
      border-radius: 3px 0 0 3px; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-dimensions .elementor-link-dimensions.unlinked {
    background-color: #fff; }
    #elementor-panel #elementor-panel-page-editor .elementor-control-type-dimensions .elementor-link-dimensions.unlinked .elementor-linked {
      display: none; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-dimensions .elementor-link-dimensions:not(.unlinked) {
    background-color: #a4afb7; }
    #elementor-panel #elementor-panel-page-editor .elementor-control-type-dimensions .elementor-link-dimensions:not(.unlinked) .elementor-unlinked {
      display: none; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-dimensions .elementor-link-dimensions .elementor-linked {
    color: #fff; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-url .elementor-control-url-external-hide .elementor-control-url-target {
    display: none; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-url .elementor-control-url-external-hide input {
    padding-right: 45px; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-url .elementor-control-url-external-hide .elementor-control-url-media {
    right: 0; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-url .elementor-control-url-external-show input {
    padding-right: 90px; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-url .elementor-control-input-wrapper {
    position: relative; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-url .elementor-control-url-target, #elementor-panel #elementor-panel-page-editor .elementor-control-type-url .elementor-control-url-media {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    height: 100%;
    width: 40px;
    border: none;
    border-left: 1px solid;
    background: none;
    cursor: pointer;
    font-size: 10px;
    border-radius: 0 3px 3px 0; }
    #elementor-panel #elementor-panel-page-editor .elementor-control-type-url .elementor-control-url-target.active, #elementor-panel #elementor-panel-page-editor .elementor-control-type-url .elementor-control-url-media.active {
      background-color: #a4afb7; }
      #elementor-panel #elementor-panel-page-editor .elementor-control-type-url .elementor-control-url-target.active .elementor-control-url-external, #elementor-panel #elementor-panel-page-editor .elementor-control-type-url .elementor-control-url-media.active .elementor-control-url-external {
        color: #fff; }
    #elementor-panel #elementor-panel-page-editor .elementor-control-type-url .elementor-control-url-target:not(.active) .elementor-control-url-external, #elementor-panel #elementor-panel-page-editor .elementor-control-type-url .elementor-control-url-media:not(.active) .elementor-control-url-external {
      opacity: .5; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-url .elementor-control-url-media {
    right: 40px;
    border-color: #d5dadf; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-url input {
    direction: ltr; }
    #elementor-panel #elementor-panel-page-editor .elementor-control-type-url input:not(:focus) + .elementor-control-url-target {
      border-color: #d5dadf; }
      #elementor-panel #elementor-panel-page-editor .elementor-control-type-url input:not(:focus) + .elementor-control-url-target.active {
        background-color: #d5dadf; }
    #elementor-panel #elementor-panel-page-editor .elementor-control-type-url input:focus + .elementor-control-url-target {
      border-color: #a4afb7; }
      #elementor-panel #elementor-panel-page-editor .elementor-control-type-url input:focus + .elementor-control-url-target.active {
        background-color: #a4afb7; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-select_big select, #elementor-panel #elementor-panel-page-editor .elementor-control-type-select_sort select {
    height: 350px; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-select_big option:disabled, #elementor-panel #elementor-panel-page-editor .elementor-control-type-select_sort option:disabled {
    opacity: 0.4; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-select_big .hidden-option, #elementor-panel #elementor-panel-page-editor .elementor-control-type-select_sort .hidden-option {
    display: none; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-select_big .title-option, #elementor-panel #elementor-panel-page-editor .elementor-control-type-select_sort .title-option {
    opacity: 1 !important;
    font-weight: bold;
    background: #f4f4f4;
    text-align: center;
    padding: 7px 0; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-text_align .elementor-choices, #elementor-panel #elementor-panel-page-editor .elementor-control-align .elementor-choices, #elementor-panel #elementor-panel-page-editor .elementor-control-position .elementor-choices {
    direction: ltr; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-section {
    margin-top: 10px;
    padding: 0; }
    #elementor-panel #elementor-panel-page-editor .elementor-control-type-section + .elementor-control:not(.elementor-control-type-section) {
      padding-top: 15px; }
      #elementor-panel #elementor-panel-page-editor .elementor-control-type-section + .elementor-control:not(.elementor-control-type-section):before {
        display: none; }
  #elementor-panel #elementor-panel-page-editor .wp-picker-container:not(.wp-picker-active) {
    float: right; }
  #elementor-panel #elementor-panel-page-editor .wp-picker-container.wp-picker-active {
    -webkit-transform: translateY(-18px);
            transform: translateY(-18px); }
    #elementor-panel #elementor-panel-page-editor .wp-picker-container.wp-picker-active .wp-color-result {
      margin-right: 3px; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-wysiwyg * {
    box-sizing: content-box; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-wysiwyg .wp-editor-container {
    border: 1px solid #e6e9ec;
    border-radius: 3px; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-wysiwyg #insert-media-button {
    margin-top: 7px;
    height: initial;
    line-height: 1;
    font-size: 11px;
    padding: 3px 9px;
    background-color: #e6e9ec; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-wysiwyg .ed_button {
    height: 22px;
    width: initial; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-wysiwyg .wp-media-buttons-icon {
    height: 14px;
    margin: 0; }
    #elementor-panel #elementor-panel-page-editor .elementor-control-type-wysiwyg .wp-media-buttons-icon:before {
      font-size: 14px; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-wysiwyg .wp-switch-editor {
    border: none;
    color: #6d7882;
    font-size: 11px;
    padding: 3px 12px 4px;
    border-radius: 3px 3px 0 0; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-wysiwyg .html-active .switch-tmce {
    background-color: transparent; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-wysiwyg .html-active .switch-html {
    background-color: #e6e9ec; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-wysiwyg .tmce-active .switch-tmce {
    background-color: #e6e9ec; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-wysiwyg .tmce-active .switch-html {
    background-color: transparent; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-wysiwyg .mce-toolbar-grp, #elementor-panel #elementor-panel-page-editor .elementor-control-type-wysiwyg .quicktags-toolbar {
    background-color: #e6e9ec; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-wysiwyg .mce-toolbar-grp > div {
    padding: 0 3px; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-wysiwyg .elementor-wp-editor {
    box-sizing: border-box; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-wysiwyg .mce-ico {
    color: #6d7882;
    font-size: 16px; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-wysiwyg .mce-btn:hover, #elementor-panel #elementor-panel-page-editor .elementor-control-type-wysiwyg .mce-btn:active, #elementor-panel #elementor-panel-page-editor .elementor-control-type-wysiwyg .mce-btn.mce-active {
    border-color: #d5dadf; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-wysiwyg .mce-path {
    padding: 5px 10px; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-wysiwyg .mce-path-item {
    font-size: 12px;
    color: #6d7882; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-icon .select2-selection__rendered .fa {
    margin-right: 3px; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-autocomplete_products .elementor-control-selected-options {
    display: none !important; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-autocomplete_products .elementor-control-selected-preview {
    position: relative; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-autocomplete_products .elementor-selected-products-wrapper {
    padding-top: 10px; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-autocomplete_products .elementor-product .elementor-repeater-row-handle-sortable {
    position: absolute;
    left: 0px;
    top: 0px;
    background: #d5dadf;
    width: 12px;
    text-align: center;
    height: 100%;
    color: #fff;
    cursor: move; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-autocomplete_products .elementor-repeater-row-handle-sortable i {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-autocomplete_products .elementor-control-selected-preview .elementor-product {
    border: 1px solid #d5dadf;
    margin-bottom: 5px;
    position: relative;
    background-color: #fff;
    padding: 3px; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-autocomplete_products .elementor-control-selected-preview .elementor-product-remove {
    padding: 5px 7px;
    position: absolute;
    top: 0px;
    right: 0px;
    border: none;
    background: none; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-autocomplete_products .elementor-control-selected-preview .elementor-product-image {
    width: 20%;
    display: inline-block;
    vertical-align: middle; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-autocomplete_products .elementor-control-selected-preview .elementor-product-info {
    width: 80%;
    display: inline-block;
    vertical-align: middle; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-autocomplete_products .elementor-control-selected-preview .elementor-product-reference {
    opacity: 0.6;
    display: block; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-select_sort .elementor-select-sort {
    display: none !important; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-select_sort .elementor-control-selected-preview {
    position: relative;
    width: 100%; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-select_sort .elementor-selected-products-wrapper {
    padding-top: 10px; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-select_sort .elementor-value-add {
    padding: 5px 10px;
    margin: 10px 0; }
    #elementor-panel #elementor-panel-page-editor .elementor-control-type-select_sort .elementor-value-add > i {
      margin-right: 4px; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-select_sort .elementor-selected-value-preview .elementor-repeater-row-handle-sortable {
    position: absolute;
    left: 0px;
    top: 0px;
    background: #d5dadf;
    width: 12px;
    text-align: center;
    height: 100%;
    color: #fff;
    cursor: move; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-select_sort .elementor-repeater-row-handle-sortable i {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-select_sort .elementor-selected-value-preview {
    border: 1px solid #d5dadf;
    margin-bottom: 5px;
    position: relative;
    background-color: #fff;
    padding: 3px; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-select_sort .elementor-selected-value-preview .elementor-selected-value-remove {
    padding: 5px 7px;
    position: absolute;
    top: 0px;
    right: 0px;
    border: none;
    background: none; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-select_sort .elementor-selected-value-preview .selected-value-preview-info {
    width: 85%;
    display: inline-block;
    padding-left: 16px;
    vertical-align: middle; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-modules .elementor-control-field {
    margin-bottom: 10px; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-modules .elementor-control-description {
    margin: 0px 0px 10px 0px;
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #f9f0c3;
    padding: 10px; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-gallery.elementor-gallery-empty .elementor-control-gallery-clear, #elementor-panel #elementor-panel-page-editor .elementor-control-type-gallery.elementor-gallery-empty .elementor-control-gallery-thumbnails {
    display: none; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-gallery .elementor-control-gallery-thumbnails {
    overflow: hidden;
    margin-top: 20px;
    cursor: pointer; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-gallery .elementor-control-gallery-thumbnail {
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: 50% 50%;
    float: left;
    margin-bottom: 10px; }
    #elementor-panel #elementor-panel-page-editor .elementor-control-type-gallery .elementor-control-gallery-thumbnail:not(:nth-child(5n)) {
      margin-right: 10px; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-gallery .elementor-control-gallery-add {
    width: 100%;
    height: 30px;
    color: #fff;
    background-color: #a4afb7;
    margin-top: 10px;
    text-transform: uppercase; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-gallery .elementor-control-gallery-clear {
    color: #b01b1b;
    cursor: pointer; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-structure .elementor-control-structure-preset {
    border: 1px solid #e6e9ec;
    padding: 3px;
    border-radius: 3px; }
    #elementor-panel #elementor-panel-page-editor .elementor-control-type-structure .elementor-control-structure-preset:not(.elementor-control-structure-current-preset) {
      display: inline-block;
      cursor: pointer;
      height: 50px; }
      #elementor-panel #elementor-panel-page-editor .elementor-control-type-structure .elementor-control-structure-preset:not(.elementor-control-structure-current-preset) svg {
        height: 100%; }
    #elementor-panel #elementor-panel-page-editor .elementor-control-type-structure .elementor-control-structure-preset path {
      fill: #e6e9ec; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-structure .elementor-control-structure-current-preset {
    margin-top: 15px; }
    #elementor-panel #elementor-panel-page-editor .elementor-control-type-structure .elementor-control-structure-current-preset svg {
      display: block;
      width: 100%; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-structure .elementor-control-structure-reset {
    padding: 10px 0 0 2px;
    font-size: 11px;
    cursor: pointer;
    color: #a4afb7; }
    #elementor-panel #elementor-panel-page-editor .elementor-control-type-structure .elementor-control-structure-reset i {
      margin-right: 8px; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-structure .elementor-control-structure-title, #elementor-panel #elementor-panel-page-editor .elementor-control-type-structure .elementor-control-structure-more-presets-title {
    color: #495157;
    font-weight: bold;
    padding: 13.5px 20px;
    position: relative; }
    #elementor-panel #elementor-panel-page-editor .elementor-control-type-structure .elementor-control-structure-title:before, #elementor-panel #elementor-panel-page-editor .elementor-control-type-structure .elementor-control-structure-title:after, #elementor-panel #elementor-panel-page-editor .elementor-control-type-structure .elementor-control-structure-more-presets-title:before, #elementor-panel #elementor-panel-page-editor .elementor-control-type-structure .elementor-control-structure-more-presets-title:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0; }
    #elementor-panel #elementor-panel-page-editor .elementor-control-type-structure .elementor-control-structure-title:before, #elementor-panel #elementor-panel-page-editor .elementor-control-type-structure .elementor-control-structure-more-presets-title:before {
      top: 0;
      background-color: #e6e9ec;
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%); }
    #elementor-panel #elementor-panel-page-editor .elementor-control-type-structure .elementor-control-structure-title:after, #elementor-panel #elementor-panel-page-editor .elementor-control-type-structure .elementor-control-structure-more-presets-title:after {
      bottom: 0;
      height: 1px;
      background-color: #e6e9ec; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-structure .elementor-control-structure-title {
    margin: 10px -20px 0; }
    #elementor-panel #elementor-panel-page-editor .elementor-control-type-structure .elementor-control-structure-title:before {
      height: 10px;
      box-shadow: inset 0 2px 4px rgba(127, 127, 127, 0.1); }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-structure .elementor-control-structure-more-presets-title {
    margin: 15px -20px 0; }
    #elementor-panel #elementor-panel-page-editor .elementor-control-type-structure .elementor-control-structure-more-presets-title:before {
      height: 3px; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-structure .elementor-control-structure-more-presets {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    #elementor-panel #elementor-panel-page-editor .elementor-control-type-structure .elementor-control-structure-more-presets input {
      display: none; }
      #elementor-panel #elementor-panel-page-editor .elementor-control-type-structure .elementor-control-structure-more-presets input:checked + .elementor-control-structure-preset {
        border: 1px solid #a4afb7; }
        #elementor-panel #elementor-panel-page-editor .elementor-control-type-structure .elementor-control-structure-more-presets input:checked + .elementor-control-structure-preset path {
          fill: #a4afb7; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-structure .elementor-control-structure-preset-wrapper {
    margin-top: 15px; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-structure .elementor-control-structure-preset-title {
    text-align: center;
    padding-top: 5px;
    font-style: italic;
    font-size: 11px;
    color: #a4afb7; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-image_dimensions .elementor-control-description {
    margin: 0 0 15px;
    line-height: 1.4; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-image_dimensions .elementor-control-input-wrapper {
    overflow: hidden; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-image_dimensions .elementor-image-dimensions-field {
    width: 70px;
    float: left; }
    #elementor-panel #elementor-panel-page-editor .elementor-control-type-image_dimensions .elementor-image-dimensions-field input:focus + .elementor-image-dimensions-field-description {
      color: #a4afb7; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-image_dimensions .elementor-image-dimensions-separator {
    width: 20px;
    text-align: center;
    float: left;
    padding-top: 4px; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-image_dimensions .elementor-image-dimensions-field-description {
    text-transform: uppercase;
    margin-top: 5px;
    color: #d5dadf;
    font-size: 9px;
    text-align: center; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-image_dimensions .elementor-image-dimensions-apply-button {
    float: right;
    height: 27px;
    width: 70px; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-hidden {
    display: none !important; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-repeater, #elementor-panel #elementor-panel-page-editor .elementor-control-type-repeater .elementor-control {
    padding: 0 10px 15px; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-repeater .elementor-control:before {
    display: none; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-repeater.elementor-repeater-has-minimum-rows .elementor-repeater-tool-remove {
    display: none; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-repeater .repeater-fields {
    margin: 10px 0; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-repeater .elementor-repeater-row-controls {
    border: 1px solid #d5dadf;
    border-top-width: 0;
    padding-top: 15px; }
    #elementor-panel #elementor-panel-page-editor .elementor-control-type-repeater .elementor-repeater-row-controls:not(.editable) {
      display: none; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-repeater .elementor-repeater-row-tools {
    display: table;
    table-layout: fixed;
    width: 100%;
    color: #556068;
    background-color: #d5dadf;
    height: 40px;
    border-spacing: 1px;
    -webkit-transition: all .5s;
    transition: all .5s; }
    #elementor-panel #elementor-panel-page-editor .elementor-control-type-repeater .elementor-repeater-row-tools:hover {
      background-color: #a4afb7; }
    #elementor-panel #elementor-panel-page-editor .elementor-control-type-repeater .elementor-repeater-row-tools > div {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      cursor: pointer; }
      #elementor-panel #elementor-panel-page-editor .elementor-control-type-repeater .elementor-repeater-row-tools > div:not(.elementor-repeater-row-handle-sortable) {
        background-color: #fff; }
      #elementor-panel #elementor-panel-page-editor .elementor-control-type-repeater .elementor-repeater-row-tools > div:hover {
        opacity: .95; }
    #elementor-panel #elementor-panel-page-editor .elementor-control-type-repeater .elementor-repeater-row-tools .elementor-repeater-row-item-title {
      text-align: left;
      padding: 0 20px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    #elementor-panel #elementor-panel-page-editor .elementor-control-type-repeater .elementor-repeater-row-tools .elementor-repeater-row-tool {
      width: 40px; }
    #elementor-panel #elementor-panel-page-editor .elementor-control-type-repeater .elementor-repeater-row-tools .elementor-repeater-row-handle-sortable {
      cursor: move;
      width: 10px;
      color: #fff; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-repeater .elementor-button-wrapper {
    text-align: center;
    padding: 10px; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-repeater .elementor-repeater-add {
    background-color: #a4afb7;
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
    padding: 6.5px 15px; }
    #elementor-panel #elementor-panel-page-editor .elementor-control-type-repeater .elementor-repeater-add:hover {
      background-color: #6d7882; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-textarea textarea {
    display: block; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-box_shadow .elementor-control-input-wrapper {
    overflow: hidden; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-box_shadow .elementor-box-shadow-slider {
    margin-top: 10px; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-switcher .elementor-control-field {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    #elementor-panel #elementor-panel-page-editor .elementor-control-type-switcher .elementor-control-field .elementor-control-title {
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-switcher .elementor-switch {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 49px;
    height: 20px;
    background-color: white;
    border-radius: 18px;
    cursor: pointer; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-switcher .elementor-switch-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-switcher .elementor-switch-label {
    position: relative;
    display: block;
    height: inherit;
    font-size: 7px;
    text-transform: uppercase;
    background: #eceeef;
    border-radius: inherit;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
    -webkit-transition: 0.15s ease-out;
    transition: 0.15s ease-out;
    -webkit-transition-property: opacity, background;
    transition-property: opacity, background; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-switcher .elementor-switch-label:before, #elementor-panel #elementor-panel-page-editor .elementor-control-type-switcher .elementor-switch-label:after {
    position: absolute;
    top: 0;
    width: 50%;
    text-align: center;
    line-height: 20px;
    -webkit-transition: inherit;
    transition: inherit; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-switcher .elementor-switch-label:before {
    content: attr(data-off);
    right: 3px;
    color: #a4afb7;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5); }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-switcher .elementor-switch-label:after {
    content: attr(data-on);
    left: 3px;
    color: white;
    text-shadow: 0 1px rgba(0, 0, 0, 0.2);
    opacity: 0; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-switcher .elementor-switch-input:checked ~ .elementor-switch-label {
    background: #71d7f7;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2); }
    #elementor-panel #elementor-panel-page-editor .elementor-control-type-switcher .elementor-switch-input:checked ~ .elementor-switch-label:before {
      opacity: 0; }
    #elementor-panel #elementor-panel-page-editor .elementor-control-type-switcher .elementor-switch-input:checked ~ .elementor-switch-label:after {
      opacity: 1; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-switcher .elementor-switch-handle {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 18px;
    height: 18px;
    background: white;
    border-radius: 10px;
    -webkit-transition: left 0.15s ease-out;
    transition: left 0.15s ease-out; }
  #elementor-panel #elementor-panel-page-editor .elementor-control-type-switcher .elementor-switch-input:checked ~ .elementor-switch-handle {
    left: 30px;
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2); }
  #elementor-panel .wp-picker-container.wp-picker-active {
    position: absolute;
    z-index: 1;
    left: 0;
    background-color: #fff;
    border: solid #fff;
    border-width: 0 17px 0 12px;
    padding-top: 10px; }
    #elementor-panel .wp-picker-container.wp-picker-active .wp-color-result {
      float: right; }
    #elementor-panel .wp-picker-container.wp-picker-active .wp-picker-input-wrap {
      padding-left: 10px;
      float: left; }
  #elementor-panel .wp-picker-container * {
    box-sizing: content-box; }
  #elementor-panel .wp-picker-container .iris-picker {
    border: none; }
  #elementor-panel .wp-color-result {
    margin: 0;
    width: 48px;
    height: 25px;
    box-shadow: inset 0 0 0 3px white;
    -webkit-transition: border .5s;
    transition: border .5s;
    padding: 0;
    border-radius: 3px;
    border: 1px solid #d5dadf; }
    #elementor-panel .wp-color-result:after {
      content: none; }
    #elementor-panel .wp-color-result:hover {
      border: 1px solid #a4afb7; }
    #elementor-panel .wp-color-result:focus, #elementor-panel .wp-color-result:active {
      outline: 0; }
  #elementor-panel .wp-picker-clear {
    height: 24px;
    width: 48px;
    padding: 0;
    background-color: #d5dadf;
    border-radius: 0 3px 3px 0;
    margin: 0; }
  #elementor-panel .wp-color-picker {
    float: left;
    width: 100px;
    border-radius: 3px 0 0 3px;
    line-height: 1; }
  #elementor-panel .wp-picker-holder * {
    box-sizing: content-box; }
  #elementor-panel .wp-picker-open ~ .wp-picker-holder {
    clear: both;
    margin-bottom: 15px; }
  #elementor-panel #elementor-panel-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    background-color: #495157; }
  #elementor-panel #elementor-panel-footer-tools {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%; }
  #elementor-panel .elementor-panel-footer-tool {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    color: #a4afb7;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
    #elementor-panel .elementor-panel-footer-tool.elementor-open {
      color: #fff; }
    #elementor-panel .elementor-panel-footer-tool:not(.elementor-open):hover {
      color: #d5dadf; }
    #elementor-panel .elementor-panel-footer-tool:not(.elementor-open) .elementor-panel-footer-sub-menu-wrapper {
      display: none; }
  #elementor-panel .elementor-panel-footer-sub-menu-wrapper {
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    background-color: #556068;
    padding: 10px;
    box-shadow: -2px -5px 8px rgba(0, 0, 0, 0.1);
    cursor: default; }
  #elementor-panel .elementor-panel-footer-sub-menu {
    border-radius: 5px;
    overflow: hidden; }
  #elementor-panel .elementor-panel-footer-sub-menu-item {
    background-color: #495157;
    display: table;
    table-layout: fixed;
    width: 100%;
    cursor: pointer; }
    #elementor-panel .elementor-panel-footer-sub-menu-item:not(:last-child) {
      margin-bottom: 1px; }
    #elementor-panel .elementor-panel-footer-sub-menu-item[data-device-mode="mobile-landscape"] .fa-mobile {
      -webkit-transform: rotate(-90deg);
              transform: rotate(-90deg); }
    #elementor-panel .elementor-panel-footer-sub-menu-item:hover {
      background-color: rgba(0, 0, 0, 0.2); }
    #elementor-panel .elementor-panel-footer-sub-menu-item.active {
      background-color: rgba(0, 0, 0, 0.3); }
    #elementor-panel .elementor-panel-footer-sub-menu-item > * {
      display: table-cell;
      height: 40px;
      vertical-align: middle; }
    #elementor-panel .elementor-panel-footer-sub-menu-item .elementor-icon {
      width: 40px;
      color: #a4afb7; }
    #elementor-panel .elementor-panel-footer-sub-menu-item .elementor-title {
      text-align: left;
      color: #d5dadf; }
    #elementor-panel .elementor-panel-footer-sub-menu-item .elementor-description {
      width: 95px;
      text-align: left;
      font-size: 11px;
      font-style: italic;
      color: #a4afb7; }
  #elementor-panel #elementor-panel-footer-help-title {
    text-align: left;
    padding: 10px 0;
    color: #d5dadf; }
  #elementor-panel #elementor-panel-footer-save {
    width: 90px;
    padding: 0 10px; }
    #elementor-panel #elementor-panel-footer-save .elementor-button {
      font-size: 11px;
      text-transform: uppercase;
      width: 100%;
      height: 26px;
      background-color: #556068;
      color: #a4afb7; }
  #elementor-panel #elementor-panel-footer-publish .elementor-icon, #elementor-panel #elementor-panel-footer-publish .elementor-title {
    color: #39b54a; }
  #elementor-panel #elementor-panel-footer-discard .elementor-icon, #elementor-panel #elementor-panel-footer-discard .elementor-title {
    color: #b01b1b; }

#elementor-mode-switcher {
  position: absolute;
  left: 100%;
  top: 50%;
  width: 15px;
  height: 50px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #e6e9ec;
  font-size: 15px;
  box-shadow: 3px 1px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer; }
  #elementor-mode-switcher:hover {
    background-color: #9b0a46;
    color: #FFFFFF; }

body.elementor-editor-preview #elementor-mode-switcher {
  background-color: #9b0a46;
  color: #FFFFFF; }

#elementor-mode-switcher-inner, #elementor-mode-switcher-preview {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

#elementor-mode-switcher-preview {
  cursor: pointer; }
  #elementor-mode-switcher-preview .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%); }

#elementor-mode-switcher-preview-input {
  display: none; }

#elementor-preview {
  background-color: #333;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  border: 0; }
  .elementor-device-desktop #elementor-preview {
    overflow-y: hidden; }
  body:not(.elementor-device-desktop) #elementor-preview {
    overflow-y: auto; }

#elementor-preview-responsive-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }
  .elementor-device-desktop #elementor-preview-responsive-wrapper {
    min-width: 1024px;
    width: 100%;
    height: 100%; }
  .elementor-device-tablet #elementor-preview-responsive-wrapper {
    width: 768px;
    height: 1024px;
    padding: 40px 10px 70px; }
  .elementor-device-mobile #elementor-preview-responsive-wrapper {
    width: 360px;
    height: 640px;
    padding: 40px 10px 70px; }
  body:not(.elementor-device-desktop) #elementor-preview-responsive-wrapper {
    border-radius: 30px;
    background-color: #111;
    margin: 30px auto 80px;
    box-sizing: content-box; }

#elementor-preview-iframe {
  width: 100%;
  height: 100%;
  background-color: #fff; }

.tipsy {
  font-size: 10px;
  position: absolute;
  padding: 5px;
  z-index: 100000; }

.tipsy-inner {
  background-color: #000;
  color: #FFF;
  max-width: 200px;
  padding: 5px 8px 4px;
  text-align: center;
  border-radius: 3px; }

.tipsy-arrow {
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  border: 5px dashed #000; }

.tipsy-arrow-n {
  border-bottom-color: #000; }

.tipsy-arrow-s {
  border-top-color: #000; }

.tipsy-arrow-e {
  border-left-color: #000; }

.tipsy-arrow-w {
  border-right-color: #000; }

.tipsy-n .tipsy-arrow, .tipsy-nw .tipsy-arrow {
  border-left-color: transparent;
  border-right-color: transparent;
  top: 0;
  border-bottom-style: solid;
  border-top: none; }

.tipsy-n .tipsy-arrow {
  left: 50%;
  margin-left: -5px; }

.tipsy-nw .tipsy-arrow {
  left: 10px; }

.tipsy-ne .tipsy-arrow {
  top: 0;
  right: 10px;
  border-bottom-style: solid;
  border-top: none;
  border-left-color: transparent;
  border-right-color: transparent; }

.tipsy-s .tipsy-arrow, .tipsy-se .tipsy-arrow, .tipsy-sw .tipsy-arrow {
  bottom: 0;
  border-top-style: solid;
  border-bottom: none;
  border-left-color: transparent;
  border-right-color: transparent; }

.tipsy-s .tipsy-arrow {
  left: 50%;
  margin-left: -5px; }

.tipsy-sw .tipsy-arrow {
  left: 10px; }

.tipsy-se .tipsy-arrow {
  right: 10px; }

.tipsy-e .tipsy-arrow, .tipsy-w .tipsy-arrow {
  top: 50%;
  margin-top: -5px;
  border-top-color: transparent;
  border-bottom-color: transparent; }

.tipsy-e .tipsy-arrow {
  right: 0;
  border-left-style: solid;
  border-right: none; }

.tipsy-w .tipsy-arrow {
  left: 0;
  border-right-style: solid;
  border-left: none; }

.dialog-widget {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999; }

.dialog-widget-content {
  background-color: #fff;
  position: absolute;
  border-radius: 3px;
  box-shadow: 2px 8px 23px 3px rgba(0, 0, 0, 0.2);
  overflow: hidden; }

.dialog-widget-header, .dialog-message {
  text-align: center; }

.dialog-message {
  font-size: 12px; }

.dialog-buttons-wrapper {
  border-top: 1px solid #e6e9ec;
  text-align: center; }
  .dialog-buttons-wrapper > button {
    border: none;
    background: none;
    font-size: 15px;
    cursor: pointer;
    padding: 13px 0;
    outline: none; }
    .dialog-buttons-wrapper > button:first-child {
      color: #6d7882; }
    .dialog-buttons-wrapper > button.dialog-ok {
      color: #b01b1b; }
    .dialog-buttons-wrapper > button.dialog-take_over {
      color: #39b54a; }
    .dialog-buttons-wrapper > button:active {
      background-color: rgba(230, 233, 236, 0.5); }

.dialog-widget-header {
  padding: 20px 0;
  font-weight: 500; }

.dialog-options-widget .dialog-widget-header,
.dialog-confirm-widget .dialog-widget-header {
  font-size: 15px;
  color: #495157; }
.dialog-options-widget .dialog-buttons-wrapper > button,
.dialog-confirm-widget .dialog-buttons-wrapper > button {
  width: 50%; }
  .dialog-options-widget .dialog-buttons-wrapper > button:first-child,
  .dialog-confirm-widget .dialog-buttons-wrapper > button:first-child {
    border-right: 1px solid #e6e9ec; }
  .dialog-options-widget .dialog-buttons-wrapper > button:hover,
  .dialog-confirm-widget .dialog-buttons-wrapper > button:hover {
    background-color: #f4f6f7; }

.dialog-options-widget, .dialog-confirm-widget, .dialog-alert-widget {
  -webkit-user-select: none;
  -moz-user-select: none; }
  .dialog-options-widget .dialog-widget-content, .dialog-confirm-widget .dialog-widget-content, .dialog-alert-widget .dialog-widget-content {
    margin: auto;
    width: 350px; }
  .dialog-options-widget .dialog-message, .dialog-confirm-widget .dialog-message, .dialog-alert-widget .dialog-message {
    padding: 0 20px;
    min-height: 50px; }

.dialog-alert-widget .dialog-buttons-wrapper > button {
  width: 100%; }

.dialog-popup-message {
  height: 155px;
  width: 155px;
  background-color: #fff;
  border-radius: 10px; }

.elementor-dialog-message {
  padding: 15px; }
  .elementor-dialog-message .fa {
    font-size: 85px;
    padding: 10px; }

.elementor-dialog-message-text {
  text-transform: uppercase; }

.dialog-elementor-modal-close-button {
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 20px;
  font-size: 16px;
  color: #a4afb7; }

#elementor-introduction .dialog-widget-header {
  padding: 40px 0 0; }
#elementor-introduction .dialog-widget-content {
  width: 700px;
  max-width: 100%; }
#elementor-introduction .elementor-video-wrapper {
  padding-bottom: 62.4%; }
#elementor-introduction .dialog-message {
  margin-top: 40px; }

#elementor-introduction-title {
  color: #9b0a46;
  font-size: 27px;
  font-weight: bold; }

#elementor-introduction-subtitle {
  margin-top: 12px;
  font-size: 16px;
  color: #a4afb7; }

#elementor-template-library-modal .dialog-widget-content {
  width: 990px;
  background-color: #f1f3f5; }
#elementor-template-library-modal .dialog-widget-header {
  padding: 0;
  background-color: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1; }
#elementor-template-library-modal .dialog-buttons-wrapper {
  display: none; }
#elementor-template-library-modal .dialog-message {
  height: 630px;
  max-height: 85vh;
  overflow: auto;
  padding: 15px; }
#elementor-template-library-modal a, #elementor-template-library-modal a:hover {
  color: inherit; }
#elementor-template-library-modal a.elementor-template-library-blank-footer-link {
  -webkit-transition: color .5s;
  transition: color .5s; }
  #elementor-template-library-modal a.elementor-template-library-blank-footer-link:hover {
    color: #9b0a46; }
#elementor-template-library-modal .elementor-button-success, #elementor-template-library-modal #elementor-panel #elementor-panel-footer-save.elementor-save-active .elementor-button, #elementor-panel #elementor-panel-footer-save.elementor-save-active #elementor-template-library-modal .elementor-button {
  text-transform: uppercase; }
  #elementor-template-library-modal .elementor-button-success .elementor-button-title, #elementor-template-library-modal #elementor-panel #elementor-panel-footer-save.elementor-save-active .elementor-button .elementor-button-title, #elementor-panel #elementor-panel-footer-save.elementor-save-active #elementor-template-library-modal .elementor-button .elementor-button-title {
    padding-left: 8px; }

#elementor-template-library-header {
  display: table;
  table-layout: fixed;
  width: 100%; }
  #elementor-template-library-header > * {
    display: table-cell;
    vertical-align: middle; }

#elementor-template-library-header-logo-area {
  width: 35%;
  text-align: left;
  padding-left: 15px; }
  #elementor-template-library-header-logo-area > * {
    float: left; }
    #elementor-template-library-header-logo-area > * > * {
      vertical-align: middle; }

#elementor-template-library-header-logo {
  font-size: 15px;
  text-transform: uppercase;
  color: #495157;
  font-weight: bold;
  cursor: pointer; }
  #elementor-template-library-header-logo i {
    padding-right: 10px;
    color: #9b0a46;
    font-size: 20px; }

#elementor-template-library-header-menu {
  text-align: center; }

.elementor-template-library-menu-item {
  display: inline-block;
  padding: 17px;
  cursor: pointer; }
  .elementor-template-library-menu-item.elementor-active {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#fff));
    background-image: linear-gradient(to bottom, #f3f3f3, #fff);
    border-bottom: 3px solid #9b0a46; }

#elementor-template-library-header-items-area {
  width: 35%; }
  #elementor-template-library-header-items-area > * {
    float: right; }

#elementor-template-library-header-tools > * {
  float: right; }

.elementor-template-library-header-item {
  position: relative;
  border-left: 1px solid #e6e9ec;
  height: 50px;
  box-sizing: content-box;
  cursor: pointer;
  -webkit-transition: color .5s;
  transition: color .5s; }
  .elementor-template-library-header-item:not(:hover) {
    color: #a4afb7; }
  .elementor-template-library-header-item > * {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%); }
  .elementor-template-library-header-item > i {
    font-size: 18px; }

#elementor-template-library-header-close-modal, #elementor-template-library-header-save, #elementor-template-library-header-load {
  width: 56px; }

#elementor-template-library-header-load > .icon-upload {
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%); }

#elementor-template-library-header-preview > * {
  float: right; }

#elementor-template-library-header-preview-insert-wrapper {
  width: 100px;
  cursor: default; }

#elementor-template-library-header-preview-insert {
  width: 80%;
  padding: 8px 0; }

#elementor-template-library-header-preview-back {
  padding: 16.5px 16.5px 15px 0;
  border-right: 1px solid #e6e9ec;
  cursor: pointer;
  -webkit-transition: color .5s;
  transition: color .5s; }
  #elementor-template-library-header-preview-back:not(:hover) {
    color: #a4afb7; }
  #elementor-template-library-header-preview-back i {
    padding-right: 10px;
    font-size: 18px; }
    #elementor-template-library-header-preview-back i:before {
      content: ""; }

#elementor-template-library-loading .elementor-loading-title {
  color: #a4afb7; }
#elementor-template-library-loading .elementor-loader-box {
  background-color: #d5dadf; }

#elementor-template-library-templates-container {
  overflow: hidden; }
  #elementor-template-library-templates-container[data-template-source="local"] {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    margin: 15px; }
  #elementor-template-library-templates-container:not([data-template-source="remote"]) + #elementor-template-library-footer-banner {
    display: none; }

.elementor-template-library-template-remote {
  float: left;
  width: 25%;
  padding: 0 15px;
  margin-top: 15px; }
  .elementor-template-library-template-remote:not(:hover) .elementor-template-library-template-controls {
    opacity: 0; }
  .elementor-template-library-template-remote .elementor-template-library-template-body {
    height: 250px;
    border: 3px solid #fff;
    position: relative;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2); }
  .elementor-template-library-template-remote .elementor-template-library-template-screenshot {
    height: 100%;
    background-size: cover;
    background-position-x: 50%; }
  .elementor-template-library-template-remote .elementor-template-library-template-controls {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: opacity .5s;
    transition: opacity .5s; }
  .elementor-template-library-template-remote .elementor-template-library-template-insert {
    font-size: 11px;
    width: 150px; }
  .elementor-template-library-template-remote .elementor-template-library-template-preview {
    position: relative;
    height: 180px;
    cursor: pointer; }
    .elementor-template-library-template-remote .elementor-template-library-template-preview i {
      font-size: 20px;
      color: #d5dadf;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translateX(-50%) translateY(-50%);
              transform: translateX(-50%) translateY(-50%); }
  .elementor-template-library-template-remote .elementor-template-library-template-insert {
    padding: 11px; }
    .elementor-template-library-template-remote .elementor-template-library-template-insert i {
      padding-right: 5px; }
  .elementor-template-library-template-remote .elementor-template-library-template-name {
    margin: 13px 0 10px;
    font-size: 12px;
    text-align: center;
    color: #6d7882; }

.elementor-template-library-template-local {
  background-color: #fff;
  display: table;
  table-layout: fixed;
  width: 100%;
  border-bottom: 1px solid #d5dadf;
  height: 50px;
  -webkit-transition: background-color .3s linear;
  transition: background-color .3s linear; }
  .elementor-template-library-template-local:hover {
    background-color: #fafbfb; }
  .elementor-template-library-template-local:not(:hover) .elementor-template-library-template-controls {
    visibility: hidden; }
  .elementor-template-library-template-local > * {
    display: table-cell;
    vertical-align: middle;
    text-align: start; }
  .elementor-template-library-template-local .elementor-template-library-template-icon {
    text-align: center;
    width: 6%; }
  .elementor-template-library-template-local .elementor-template-library-template-name {
    font-size: 13px;
    font-weight: 500;
    width: 35%; }
  .elementor-template-library-template-local .elementor-template-library-template-type {
    color: #a4afb7; }
  .elementor-template-library-template-local .elementor-template-library-template-controls {
    width: 42%;
    direction: rtl; }
    .elementor-template-library-template-local .elementor-template-library-template-controls > * {
      direction: ltr; }
    .elementor-template-library-template-local .elementor-template-library-template-controls > div {
      display: inline-block;
      margin-left: 15px;
      cursor: pointer;
      font-weight: 500;
      -webkit-transition: color .5s;
      transition: color .5s; }
      .elementor-template-library-template-local .elementor-template-library-template-controls > div:not(:hover) {
        color: #a4afb7; }
  .elementor-template-library-template-local .elementor-template-library-template-control-title {
    margin-left: 6px; }
  .elementor-template-library-template-local .elementor-template-library-template-delete:hover {
    color: #b01b1b; }
  .elementor-template-library-template-local .elementor-template-library-template-insert {
    padding: 8px 18px;
    margin: 0 20px; }

#elementor-template-library-preview {
  height: 100%;
  overflow: hidden; }
  #elementor-template-library-preview iframe {
    width: 1440px;
    height: 150%;
    -webkit-transform: scale(0.666) translateX(-25%) translateY(-25%);
            transform: scale(0.666) translateX(-25%) translateY(-25%); }

.elementor-template-library-blank-title {
  font-size: 30px;
  margin-top: 55px; }

.elementor-template-library-blank-excerpt {
  font-size: 18px;
  color: #a4afb7;
  margin-top: 20px;
  font-weight: 300; }

#elementor-template-library-save-template-form, #elementor-template-library-load-template-form {
  margin-top: 55px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  #elementor-template-library-save-template-form > *, #elementor-template-library-load-template-form > * {
    height: 60px;
    font-size: 18px; }

#elementor-template-library-save-template-name {
  width: 460px;
  background-color: #fff;
  font-weight: 300;
  color: #a4afb7;
  padding-left: 25px;
  border-radius: 3px 0 0 3px;
  border: none; }
  #elementor-template-library-save-template-name:focus {
    border: 1px solid #e6e9ec; }

#elementor-template-library-load-wrapper {
  width: 250px;
  overflow: hidden;
  position: relative; }
  #elementor-template-library-load-wrapper > #elementor-template-library-load-template-file {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    height: 100%;
    cursor: pointer; }
  #elementor-template-library-load-wrapper > #elementor-template-library-load-btn-file {
    height: 60px;
    width: 100%;
    border: none;
    cursor: pointer;
    background: #fff;
    display: block; }

#elementor-template-library-load-wrapper:hover > #elementor-template-library-load-btn-file {
  background-color: #fcfcfc; }

#elementor-template-library-save-template-submit, #elementor-template-library-load-template-submit {
  width: 150px;
  border-radius: 0 3px 3px 0;
  font-weight: 500; }
  #elementor-template-library-save-template-submit:hover, #elementor-template-library-load-template-submit:hover {
    box-shadow: none; }

.elementor-template-library-blank-footer {
  position: absolute;
  bottom: 90px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #a4afb7;
  font-size: 13px;
  font-style: italic; }

#elementor-template-library-footer-banner i {
  color: #c2cbd2;
  font-size: 56px;
  margin-top: 40px; }
#elementor-template-library-footer-banner .elementor-excerpt {
  color: #a4afb7;
  font-size: 15px;
  font-weight: 500;
  margin: 20px 0; }

#elementor-template-library-templates-empty-icon {
  font-size: 96px;
  margin-top: 40px;
  color: #d5dadf; }

#elementor-template-library-error-dialog .dialog-message {
  text-align: start; }

#elementor-template-library-error-info {
  margin-top: 10px; }

/*# sourceMappingURL=editor.css.map */