{*<script src="{$fileJs|escape:'url':'UTF-8'}" language=javascript type="text/javascript"></script>*}
{foreach from=$carriersTypes key=id_carrier item=value}
    <input type="hidden" id="furgonetka-delivery-{$id_carrier}" value="{$value}">
{/foreach}
{*<input type="hidden" id="furgonetka-delivery-5" value="inpost">*}
<input type="hidden" id="furgonetka-city" value="{$city}">
<input type="hidden" id="furgonetka-street" value="{$street}">
<div id="furgonetka-machine">
    <input disabled class="hidden furgonetka-machine" id="furgonetka-machine-{$idDelivery}" value="{$machineName}">
</div>
<button  id="furgonetka-set-point" class="btn btn-primary">{l s="Wybierz punkt odbioru" mod='furgonetka'}</button>
<script language=javascript type="text/javascript">$( document ).ready(buttonManage);</script>

<style>
    #furgonetka-machine .furgonetka-machine {
        width: 100%;
        padding: 5px;
        margin-top: 10px;
        margin-bottom: 5px;
    }
    .hook_extracarrier {
        margin-bottom: 20px;
    }
</style>
